/* Your sheet CSS file: */

/* Set the min-width so that when the window is resized the look will stay consistant */
.charsheet {
	min-width: 800px;
}

/* Universal styling applied to all elements of these types */
textarea {
    /* resize: vertical; */
}

/* Format the toggle buttons */
.page-buttons{
    text-align: right;
}
button.button-style {
    background-color: rgb(236, 184, 184);
    border: 2px solid gray;
    color: black;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

/*Configure the tab buttons*/
.charsheet .sheet-character,
.charsheet .sheet-spells,
.charsheet .sheet-npc {
    display: none;
}

/* show the selected tab */
.charsheet .sheet-tabstoggle[value="character"] ~ div.sheet-character,
.charsheet .sheet-tabstoggle[value="spells"] ~ div.sheet-spells,
.charsheet .sheet-tabstoggle[value="npc"] ~ div.sheet-npc {
    display: block;
}

/* Character Sheet header table */
.header_table{
    text-align: center;
	display: table;
	width: 100%;
    background-color: rgb(209, 245, 244);
}
.divTableRow {
	display: table-row;
}
.divTableCell {
	/* border: 1px solid #000000; */
	display: table-cell;
	padding: 5px 5px;
    vertical-align: middle;
}
.divTableBody {
	display: table-row-group;
}
input.char_name {
    text-align: center;
    background-color: white;
    font-size: large;
    font-weight: bold;
    color: rgb(55, 0, 255);
}
input.header_box {
    text-align: center;
    background-color: white;
    font-size: large;
    font-weight: bold;
    width:150px;
}
input.header_number {
    text-align: center;
    background-color: white;
    font-size: large;
    font-weight: bold;
}
select.alignment_dropdown {
    width:auto;
    text-align: center;
    background-color: white;
    font-size: large;
    font-weight: bold;
}
input[type=checkbox] {
    transform: scale(1.5);
}

/* Proficiency Section */
.prof-section{
    text-align: center;
}
input.prof_box {
    background-color: white;
    font-weight: bold;
    width: 500px;
}
input.weapon_prof_box {
    background-color: white;
    font-weight: bold;
    width: 500px;
}

/* Combat Section */
.combat_table{
    text-align: center;
	display: table;
	width: 100%;
    background-color: white;
}
button.roll-initiative {
    background-color: green;
    border: 2px solid gray;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}
input.char_health_display {
    text-align: center;
    font-size: x-large;
    color: red;
}
input.char_defense {
    text-align: center;
    font-size: x-large;
    color: rgb(184, 158, 13);
}
select.hd_dropdown {
    width:auto;
}
select.armor_dropdown {
    width:auto;
}

/* Stats Styling */

/* Attack field Styling */
.atk_name{
    width:100px;
}

select.dtype {
    width:auto;
}

select.atk_mod {
    width:auto;
}
.atk_damage{
    width:88px;
}

/* Gear Section Styling */
.free_carry {
    width:350px;
}

/* Styling for Spells Sheet */
select.spell_atk_mod {
    width:auto;
}

select.spell_range {
    width:auto;
}

select.spell_dtype {
    width:auto;
}

.spell_name{
    width:150px;
}

.spell_duration{
    width:88px;
}

.char_spell_description{
    width:550px;
}
.add_spell_damage{
    width:88px;
}

/* Styling for NPC Sheet */
.npc_description{
    width:550px;
}

button.npc_roll_initiative {
    color: green;
}

.npc_ability{
    width:500px;
}

input.npc_health_display {
    text-align: center;
    font-size: x-large;
    color: red;
}
input.npc_defense {
    text-align: center;
    font-size: x-large;
    color: rgb(184, 158, 13);
}
select.npc_alignment_dropdown {
    width:auto;
}